:root {
    --cor-primaria: #E6B07E;
    --cor-secundaria: #665E57;
    --tom-1: #EAD8C7;
    --tom-2: #B38962;
    --tom-3: #664E38;

    --fonte-titulo: 'Exo', sans-serif;
    --fonte-corpo: 'Source Serif 4', sans-serif;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: var(--tom-1);
}

.escondido {
    top: -96px;
}

@media (min-width: 768px) {

    html {
        font-size: 20px
    }
    
    .escondido {
        top: -176px
    }
}